.titulo{
	color: black
}

.cor{
	background-color: white
}

.espaco{
	padding-top: 50px
}

.my-custom-scrollbar {
position: fixed;
height: 400px;
overflow: auto;
}

.table-wrapper-scroll-y {
display: block;
}

.tbody {
  height: 400px;
  overflow-y: scroll;	
  
}


