<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>bibliotecaWeb</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>entrar</display-name>
    <servlet-name>entrar</servlet-name>
    <servlet-class>br.com.projetoGP.servlets.entrar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>entrar</servlet-name>
    <url-pattern>/entrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>emprestimo</display-name>
    <servlet-name>emprestimo</servlet-name>
    <servlet-class>br.com.projetoGP.servlets.emprestimo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>emprestimo</servlet-name>
    <url-pattern>/emprestimo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>livros</display-name>
    <servlet-name>livros</servlet-name>
    <servlet-class>br.com.projetoGP.servlets.livros</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>livros</servlet-name>
    <url-pattern>/livros</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adicionarLivro</display-name>
    <servlet-name>adicionarLivro</servlet-name>
    <servlet-class>br.com.projetoGP.servlets.adicionarLivro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adicionarLivro</servlet-name>
    <url-pattern>/adicionarLivro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adicionarObra</display-name>
    <servlet-name>adicionarObra</servlet-name>
    <servlet-class>br.com.projetoGP.servlets.adicionarObra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adicionarObra</servlet-name>
    <url-pattern>/adicionarObra</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pesquisarLivros</display-name>
    <servlet-name>pesquisarLivros</servlet-name>
    <servlet-class>br.com.projetoGP.servlets.pesquisarLivros</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pesquisarLivros</servlet-name>
    <url-pattern>/pesquisarLivros</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>br.com.projetoGP.servlets.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
</web-app>