<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>bibliotecaWeb</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>entrar</display-name>
    <servlet-name>entrar</servlet-name>
    <servlet-class>br.com.projetoGP.servlets.entrar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>entrar</servlet-name>
    <url-pattern>/entrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>emprestimo</display-name>
    <servlet-name>emprestimo</servlet-name>
    <servlet-class>br.com.projetoGP.servlets.emprestimo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>emprestimo</servlet-name>
    <url-pattern>/emprestimo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>livros</display-name>
    <servlet-name>livros</servlet-name>
    <servlet-class>br.com.projetoGP.servlets.livros</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>livros</servlet-name>
    <url-pattern>/livros</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adicionarLivro</display-name>
    <servlet-name>adicionarLivro</servlet-name>
    <servlet-class>br.com.projetoGP.servlets.adicionarLivro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adicionarLivro</servlet-name>
    <url-pattern>/adicionarLivro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adicionarObra</display-name>
    <servlet-name>adicionarObra</servlet-name>
    <servlet-class>br.com.projetoGP.servlets.adicionarObra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adicionarObra</servlet-name>
    <url-pattern>/adicionarObra</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pesquisarLivros</display-name>
    <servlet-name>pesquisarLivros</servlet-name>
    <servlet-class>br.com.projetoGP.servlets.pesquisarLivros</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pesquisarLivros</servlet-name>
    <url-pattern>/pesquisarLivros</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>br.com.projetoGP.servlets.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>funcionarios</display-name>
    <servlet-name>funcionarios</servlet-name>
    <servlet-class>br.com.projetoGP.servlets.funcionarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>funcionarios</servlet-name>
    <url-pattern>/funcionarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cadastroFuncionario</display-name>
    <servlet-name>cadastroFuncionario</servlet-name>
    <servlet-class>br.com.projetoGP.servlets.cadastroFuncionario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cadastroFuncionario</servlet-name>
    <url-pattern>/cadastroFuncionario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adicionarFuncionario</display-name>
    <servlet-name>adicionarFuncionario</servlet-name>
    <servlet-class>br.com.projetoGP.servlets.adicionarFuncionario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adicionarFuncionario</servlet-name>
    <url-pattern>/adicionarFuncionario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pesquisarFuncionarios</display-name>
    <servlet-name>pesquisarFuncionarios</servlet-name>
    <servlet-class>br.com.projetoGP.servlets.pesquisarFuncionarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pesquisarFuncionarios</servlet-name>
    <url-pattern>/pesquisarFuncionarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>usuarios</display-name>
    <servlet-name>usuarios</servlet-name>
    <servlet-class>br.com.projetoGP.servlets.usuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usuarios</servlet-name>
    <url-pattern>/usuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cadastroUsuarios</display-name>
    <servlet-name>cadastroUsuarios</servlet-name>
    <servlet-class>br.com.projetoGP.servlets.cadastroUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cadastroUsuarios</servlet-name>
    <url-pattern>/cadastroUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adicionarUsuario</display-name>
    <servlet-name>adicionarUsuario</servlet-name>
    <servlet-class>br.com.projetoGP.servlets.adicionarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adicionarUsuario</servlet-name>
    <url-pattern>/adicionarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pesquisarUsuarios</display-name>
    <servlet-name>pesquisarUsuarios</servlet-name>
    <servlet-class>br.com.projetoGP.servlets.pesquisarUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pesquisarUsuarios</servlet-name>
    <url-pattern>/pesquisarUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeObra</display-name>
    <servlet-name>removeObra</servlet-name>
    <servlet-class>br.com.projetoGP.servlets.removeObra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeObra</servlet-name>
    <url-pattern>/removeObra</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editarUsuario</display-name>
    <servlet-name>editarUsuario</servlet-name>
    <servlet-class>br.com.projetoGP.servlets.editarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editarUsuario</servlet-name>
    <url-pattern>/editarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editarUsuario2</display-name>
    <servlet-name>editarUsuario2</servlet-name>
    <servlet-class>br.com.projetoGP.servlets.editarUsuario2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editarUsuario2</servlet-name>
    <url-pattern>/editarUsuario2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeUsuario</display-name>
    <servlet-name>removeUsuario</servlet-name>
    <servlet-class>br.com.projetoGP.servlets.removeUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeUsuario</servlet-name>
    <url-pattern>/removeUsuario</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FiltroAutenticacao</display-name>
    <filter-name>FiltroAutenticacao</filter-name>
    <filter-class>br.com.projetoGP.filtro.FiltroAutenticacao</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroAutenticacao</filter-name>
    <url-pattern>/FiltroAutenticacao</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FiltroAutenticacao</filter-name>
    <servlet-name>adicionarLivro</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FiltroAutenticacao</filter-name>
    <servlet-name>adicionarObra</servlet-name>
  </filter-mapping>
  <filter>
    <display-name>FilterAutenticacao</display-name>
    <filter-name>FilterAutenticacao</filter-name>
    <filter-class>br.com.projetoGP.filtro.FiltroAutenticacao</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterAutenticacao</filter-name>
    <url-pattern>/FilterAutenticacao</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FilterAutenticacao</filter-name>
    <servlet-name>adicionarFuncionario</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FilterAutenticacao</filter-name>
    <servlet-name>adicionarLivro</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FilterAutenticacao</filter-name>
    <servlet-name>adicionarObra</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FilterAutenticacao</filter-name>
    <servlet-name>adicionarUsuario</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FilterAutenticacao</filter-name>
    <servlet-name>cadastroFuncionario</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FilterAutenticacao</filter-name>
    <servlet-name>cadastroUsuarios</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FilterAutenticacao</filter-name>
    <servlet-name>editarUsuario</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FilterAutenticacao</filter-name>
    <servlet-name>editarUsuario2</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FilterAutenticacao</filter-name>
    <servlet-name>emprestimo</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FilterAutenticacao</filter-name>
    <servlet-name>funcionarios</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FilterAutenticacao</filter-name>
    <servlet-name>livros</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FilterAutenticacao</filter-name>
    <servlet-name>pesquisarFuncionarios</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FilterAutenticacao</filter-name>
    <servlet-name>pesquisarLivros</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FilterAutenticacao</filter-name>
    <servlet-name>pesquisarUsuarios</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FilterAutenticacao</filter-name>
    <servlet-name>removeObra</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FilterAutenticacao</filter-name>
    <servlet-name>removeUsuario</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FilterAutenticacao</filter-name>
    <servlet-name>usuarios</servlet-name>
  </filter-mapping>
</web-app>